<h1>List partners</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>uuid</th>
            <th>name</th>
            <th>tax_id</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let partner of partners">
            <td>{{ partner.id }}</td>
            <td>{{ partner.uuid }}</td>
            <td>{{ partner.name }}</td>
            <td>{{ partner.tax_id }}</td>
            <td>
                <span class="text-success" *ngIf="partner.status == 'ACTIVE'">{{ partner.status }}</span>
                <span class="text-danger" *ngIf="partner.status == 'REVOKED'">{{ partner.status }}</span>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<form class="" action="index.html" method="post">
    <input type="text" name="uuid" value="" placeholder="uuid" [(ngModel)]="partner.uuid">
    <input type="text" name="name" value="" placeholder="name" [(ngModel)]="partner.name">
    <input type="text" name="status" value="" placeholder="status" [(ngModel)]="partner.status">
    <button type="button" name="button" (click)="register(partner)">Registrar</button>
</form>