<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>uuid</th>
            <th>name</th>
            <th>tax_id</th>
            <th>status</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let partner of partners">
            <td>{{ partner.id }}</td>
            <td>{{ partner.uuid }}</td>
            <td>{{ partner.name }}</td>
            <td>{{ partner.tax_id }}</td>
            <td>
                <span class="text-success" *ngIf="partner.status == 'ACTIVE'">{{ partner.status }}</span>
                <span class="text-danger" *ngIf="partner.status == 'REVOKED'">{{ partner.status }}</span>
            </td>
            <td>
                <button type="button" name="button" class="btn btn-default" (click)="fireEdit(partner)">Editar</button>
            </td>
        </tr>
    </tbody>
</table>